.register-container {
    background-color: #f8f9fa;
    height: 110vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
  .btn-dark {
    background-color: #343a40;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 0.75rem;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  
  .btn-dark:hover {
    background-color: #495057;
    box-shadow: 0 0 8px rgba(52, 58, 64, 0.5);
  }